block variables


form.search.flex(class=inputClass)
    label.search-label.flex(for='search-input')
        input.search-input.flex(type="text" placeholder='Seach')
        span.input-bg
        span.material-icons.icon search