$color1: #b0c3d9;
$color2: #4b69ff;
$color3: #5e98d9;
$color4: #8847ff;
$color5: #d32ce6;
$color6: #eb4b4b;
$color7: #ffc600;

$colors: $color1, $color2, $color3, $color4, $color5, $color6, $color7;

$greenColor: #06c50c;

$bgColor: #13072c;
$titleColor: #d5b9ff;
$textColor: #ccc;

$menuTextStatic: #cccccc;
$menuTextHover: #ffdf77;
$inputLang: #e69bffcc;
$inputTextPlaceholder: #e69bff;
$clockHover: #f7dbff;
